<html>
    <head>  
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>  
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>  
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>  

        <!-- Link to separate JavaScript file(s) -->
        <script type="text/babel" src="{{ url_for('static', filename='rstuff.js') }}"></script>

    </head>  
    <body>  
        <div id="root"></div>  
    </body>  
</html>